@import url('fonts.css');

body {
    font-family: "Roboto";
    font-weight: 100;
    font-size: 20px;
}

svg {
    fill: royalblue;
}

svg:hover {
    fill: silver;
}

.rotate {
    fill: red;
    transform: rotate(-90deg);
}

.italic {
    font-style: italic;
    
}

.bold {
    font-weight: 700;
}

.right-side-line {
    top: 10px;
    height: 1000px;
    width: 200px;
    position: absolute;
    float: left;
}

.right-side-line div {
    display: inline-block;
    justify-content: space-around;
}

.right-side-line p {
    display: inline-block;
    justify-content: space-around;
}
.clear {
    clear: both;
}


