@import url('fonts.css');



body {
    background: #f1f1f1;
}

.top-menu {
    font-size: 14px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 3.5714em;
    width: 100%;
    height: 4em;
    padding: 0 1.5714em;
    top: 0;
    right: 0;
    left: 0;
}
.top-menu nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 14.5714em;
    margin-right: 1.5714em;
}

.top-menu a {
    text-decoration: none;
}

.first-top {
    display: flex;
    align-items: center;
    width: 13.1428em;
}

.first-top-padding {
    padding: 0.5714em 0.5714em;
    margin-right: 1.5714em;
}

.second-top {
    display: flex;
    align-items: center;
}

.second-top form {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.second-top input {
    width: 28.5714em;
    height: 2em;
    padding: 0 1.1428em 0 1.1428em;
    border: 0.07142em solid #cccccc;
}

input:focus {
    fill: red;
}


.second-top form button {
    width: 4.5em;
    height: 2.1428em;
    padding: 0 0;
    background: #f8f8f8;
    border: 0.07142em solid #cccccc;
}

.right-side-line {
    position: fixed;
    margin-top: 3.4285em;
    font-size: 14px;
    background: #fff;
    height: 100%;
    width: 17.1429em;
    left: 0;
}

.right-side-line:hover {
    overflow-y: auto;
}

.right-side-line a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 1em;
    color: #000000;
    display: block;
    padding: 0.857em 0;
    fill: #606060;
}

.right-side-line a svg {
    fill: #606060;
  }
  
.right-side-line a:hover {
    background: rgba(0, 0, 0, 0.05);
}

.right-side-line a:active {
    background: rgba(0, 0, 0, 0.1);
}

.right-side-line a .side-icon {
    margin-left: 2.166em;
    display: inline-block;
    vertical-align: middle;
    width: 1.4285em;
    text-align: center;
}

.right-side-line a .side-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2.166em;
}

.right-side-line .side-icon:focus {
    color: #f00;
}

#padding {
    padding-bottom: 5.3571em;
}

.right-side-line-footer a {
    display: inline-block;
    padding: 0 0 0.5714em 0;
    font-size: 0.9285em;
    font-weight: 300;
    color: #606060;    
}

.right-side-line-footer {
    padding: 0.8571em 1.7142em 0 2.1428em;
    width: 150px;
}

.right-side-line-footer a:hover {
    background: #fff;       
}

.right-side-line-footer .side-text {
    color: #e5e5e5;
    padding: 1.1428em 1.7142em 1.1428em 0;
    margin: 0 0;
}

.right-side-line-footer a:active {
    background: #fff;
}

hr {
    margin: 0.857em 0;
}

@media only screen and (max-width: 600px) {
    .right-side-line {
        font-size: 10px;
    }
    .top-menu {
        font-size: 10px;
    }
}



.right-side-line {    
    overflow: hidden;
}
  
.right-side-line:hover {
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
  }
   
::-webkit-scrollbar-thumb {
    background: lightgrey; 
}








