@import url('fonts.css');

body {
    background: #f1f1f1;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 50px;
}

.top-menu a {
    text-decoration: none;
}

.right-side-line {
    background: #fff;
    height: 100vh;
    width: 240px;
}

.right-side-line a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
    display: block;
    padding: 12px 0;
    fill: #606060;
}

.right-side-line a svg {
    fill: #606060;
  }
  
.right-side-line a:hover {
    background: rgba(0, 0, 0, 0.05);
}

.right-side-line a:active {
    background: rgba(0, 0, 0, 0.1);
}

.right-side-line a.side-active svg {
    fill: #f00;
}

.right-side-line a .side-icon {
    margin-left: 26px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    text-align: center;
}

.right-side-line a .side-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 26px;
}

hr {
    margin: 12px 0;
}




